
  body {
    background-color: #dff4f3;
  }
  h1{
    color:#66DFBF
  }
  h3{
    color:#66DFBF
  }
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;

    width: 10%;
  }
